<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input type="text" id="myInput" class="form-control" [formControl]="queryField" placeholder="Pesquisar libs">
      </div>
      <div class="col-auto">
        <button class="btn btn-success" (click)="onSearch()">Pesquisar</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <h3>303 Records Found</h3>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>


        <tr>
          <td>HTML</td>
          <td>Web Development</td>
        </tr>
        <tr>
          <td>PHP</td>
          <td>Web Development</td>
        </tr>
        <tr>
          <td>C#</td>
          <td>Programming Language</td>
        </tr>
        <tr>
          <td>JavaScript</td>
          <td>Web Development</td>
        </tr>
        <tr>
          <td>Bootstrap</td>
          <td>Web Design</td>
        </tr>
        <tr>
          <td>Python</td>
          <td>Programming Language</td>
        </tr>
        <tr>
          <td>Android</td>
          <td>App Development</td>
        </tr>
        <tr>
          <td>Angular JS</td>
          <td>Web Delopment</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
