<p appFundoAmarelo>Texto com fundo amarelo.</p>

<button appFundoAmarelo>Botão com fundo amarelo.</button>

<p appHighlightMouse>Texto com highlight quando passo o mouse.</p>

<!-- <p appHighlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight com cores customizadas.
</p> -->

<p [appHighlight]="'red'" [defaultColor]="'grey'">
  Texto com highlight com cores customizadas.
</p>

<h3>Diretiva Estruturada customizada - ngElse</h3>

<div *ngIf="mostrarCursos; else elseBlock">
  Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<ng-template [ngElse]="mostrarCursos">
  <div>
    Não existem cursos para serem listados.
  </div>
</ng-template>

<ng-template #elseBlock>
  Não existem cursos para serem listados.
</ng-template>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
