<form [formGroup]="formulario">
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome" class="col-form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="email" class="col-form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  <app-form-debug [form]="formulario"></app-form-debug>

</form>
