<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome" class="col-form-label">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome"
        [ngClass]="{'is-invalid': verificaValidTouched('nome')}">
      <span *ngIf="verificaValidTouched('nome')" [ngClass]="{'invalid-feedback': verificaValidTouched('nome') }">
        Nome é obrigatório.
      </span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="email" class="col-form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com"
        [ngClass]="{'is-invalid': verificaValidTouched('email')}">
      <span *ngIf="verificaValidTouched('email')" [ngClass]="{'invalid-feedback': verificaValidTouched('email') }">
        {{this.verificaEmailValido() ? 'Email inválido': 'Email é obrigatório.'}}
      </span>
      <span *ngIf="formulario.get('email').hasError('emailInvalido')"
        [ngClass]="{'invalid-feedback': verificaValidTouched('email') }">
        Email já cadastrado.
      </span>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="form-group row">
      <div class="col-md-3">
        <label for="cep" class="col-form-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep"
          [ngClass]="{'is-invalid': verificaValidTouched('endereco.cep')}" (blur)="consultaCEP()">
        <span *ngIf="verificaValidTouched('endereco.cep')"
          [ngClass]="{'invalid-feedback': verificaValidTouched('endereco.cep')}">
          CEP é obrigatório.
        </span>
      </div>
      <div class="col-md-3">
        <label for="numero" class="col-form-label">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero"
          [ngClass]="{'is-invalid': verificaValidTouched('endereco.numero')}">
        <span *ngIf="verificaValidTouched('endereco.numero')"
          [ngClass]="{'invalid-feedback': verificaValidTouched('endereco.numero')}">
          Número é obrigatório.
        </span>
      </div>
      <div class="col-md-6">
        <label for="complemento" class="col-form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento">
      </div>
      <div class="col-sm-12">
        <label for="rua" class="col-form-label">Rua</label>
        <input type="text" class="form-control" id="rua" formControlName="rua"
          [ngClass]="{'is-invalid': verificaValidTouched('endereco.rua')}">
        <span *ngIf="verificaValidTouched('endereco.rua')"
          [ngClass]="{'invalid-feedback': verificaValidTouched('endereco.rua')}">
          Rua é obrigatório.
        </span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-5">
        <label for="bairro" class="col-form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro"
          [ngClass]="{'is-invalid': verificaValidTouched('endereco.bairro')}">
        <span *ngIf="verificaValidTouched('endereco.bairro')"
          [ngClass]="{'invalid-feedback': verificaValidTouched('endereco.bairro')}">
          Bairro é obrigatório.
        </span>
      </div>
      <div class="col-md-4">
        <label for="cidade" class="col-form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" formControlName="cidade"
          [ngClass]="{'is-invalid': verificaValidTouched('endereco.cidade')}">
        <span *ngIf="verificaValidTouched('endereco.cidade')"
          [ngClass]="{'invalid-feedback': verificaValidTouched('endereco.cidade')}">
          Cidade é obrigatório.
        </span>
      </div>
      <div class="col-md-3">
        <label for="estado" class="col-form-label">Estado</label>
        <select type="text" class="form-control" id="estado" formControlName="estado"
          [ngClass]="{'is-invalid': verificaValidTouched('endereco.estado')}">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <span *ngIf="verificaValidTouched('endereco.estado')"
          [ngClass]="{'invalid-feedback': verificaValidTouched('endereco.estado')}">
          Estado é obrigatório.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label for="cargo" class="col-form-label">Cargo</label>
      <select type="text" class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="tecnologia" class="col-form-label">Tecnologia</label>
      <select multiple type="text" class="form-control" id="tecnologia" formControlName="tecnologia" [compareWith]="">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>
  </div>


  <button type="submit" class="btn btn-primary mr-2">Submit</button>
  <button class="btn btn-secondary" (click)="resetar()">Cancelar</button>
  <button class="btn btn-secondary" (click)="setarCargo()">Cargo</button>
  <button class="btn btn-secondary" (click)="setarTecnologias()">Tecnologias</button>

  <app-form-debug [form]="formulario"></app-form-debug>

</form>
